body {
  font: message-box;
  font-size: 1.2rem;
  color: #333;
  min-width: 500px;
}

fieldset {
  border: none;
}

input, button {
  font-size: 1.3rem;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 2px;
  padding: 5px;
}

button {
  min-width: 100px;
  text-align: center;
}

button:hover {
  background-color: lightgrey;
}

button:active {
  padding-top: 6px;
  padding-bottom: 4px;
}
